<div class="row">
	<div class="col-md-12 mb-3">
<fieldset class="search-field">
  <legend>Search Treasurers</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :first_name_or_last_name_cont, "You can search by Name, Branch, Council or Phone" %>
      <%= f.text_field :first_name_or_middle_name_or_last_name_or_council_or_branch_id_or_whatsapp_number_or_phone_number_or_treasurer_type_cont, class: "form-control bg-white" %>
    </div>
	<!-- __-->
	
	
    <div class="actions"><%= f.submit "Search", class: "btn btn-lg btn-primary mt-3" %></div>
  <% end %>
</fieldset>
		
	</div>
	
</div>
