<% @title = "Tell Us More About Yourself" %>

  <div class="container">
    <div class="row">
      <div id="content" class="col-12 col-md-9">
        <div class="card card-sheet">
          <div class="card-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
