#treasurer_ud_join_2i, #treasurer_ud_join_3i, #treasurer_year_treasurer_2i, #treasurer_year_treasurer_3i
{
	display:none;
}

.showprofile .form-label{
	font-weight: bold;
}

.showprofile .form-label span{
	font-weight: normal;
	margin-left:20px;
}

.showprofile .form-group:nth-child(2n){
	background-color: lightgray;
}

.expectation li,.expectation span{
	color: red;
	
}
.form-group label{
	font-weight:bold;
}
