<div class="row">
	<div class="col-md-12 mb-3">
<fieldset class="search-field">
  <legend>Search Branch</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :branch_id_cont, "You can search by Branch" %>
      <%= f.text_field :branch_id_cont, class: "form-control bg-white" %>
    </div>
	<!-- __-->
	
	
    <div class="actions"><%= f.submit "Search", class: "btn btn-lg btn-primary mt-3" %></div>
  <% end %>
</fieldset>
		
	</div>
	
</div>

