<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
			<h2>What Happened After Service?</h2>
				<div class="expectation mb-3">
					 <span>These are the expectations: </span>
		<ul>
			 <li>Start counting within two hours after service ends </li>
			 <li>There must be 2 or more treasurers that should count </li>
			 <li>Money should be deposited in bank or sent to council center or paid via mobile money within 24 hours </li>					
		</ul>

				</div>
      <div class="card card-sheet">
        <div class="card-body">
          <div class="container">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
